Lumina Light Pollution Chatbot (1).json
{
  "name": "Lumina Light Pollution Chatbot",
  "nodes": [
    {
      "parameters": {
        "text": "={{ $json.body.chatInput }}\nContext: The user is currently looking at the map coordinates: \nLat: {{ $json.body.locationContext.lat }}, Lng: {{ $json.body.locationContext.lng }}",
        "options": {
          "systemMessage": "You are Lumina, a helpful and knowledgeable AI assistant for a website dedicated to Dark Sky conservation and reducing Light Pollution.\n\nYour Goal: Answer visitor questions clearly, scientifically, and kindly.\n\nKey Knowledge:\n- Explain the 4 types of pollution: Glare, Skyglow, Light Trespass, and Clutter.\n- Health: Explain how blue light at night affects sleep (circadian rhythms).\n- Ecology: Explain impacts on birds, turtles, and insects.\n- Solutions: Always recommend warm color temperatures (<3000K), shielded fixtures, and motion sensors.\n\nTone:\n- Be concise (keep answers under 3-4 sentences unless asked for more).\n- Be polite and professional.\n- If you don't know the answer, admit it and suggest they check the website resources."
        }
      },
      "id": "e0896f92-1db2-48bd-94d5-2d0a41a8dd5c",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        528,
        144
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b14ccfd7-c5c9-4301-9628-8143007c66ae",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        528,
        368
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "13Tyx1BTJGdJSJPJ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        624,
        368
      ],
      "id": "c3a1a000-4e80-4588-b010-6f8cca8e2599",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"output\": \"{{ $json.output }}\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        880,
        144
      ],
      "id": "e7ece5ba-3ecf-4253-a3fe-12da3933b3f7",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatbot",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        256,
        144
      ],
      "id": "10da18a3-2d10-4d58-9ab2-e7c39f3843ea",
      "name": "Webhook",
      "webhookId": "64c052ae-e472-4890-a4bc-3b5b5488584b"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e661dbf4-31d5-4527-8b82-9931b8dc2a16",
  "meta": {
    "instanceId": "d79f99d13196d3b1ee98b4d289d36edcd2c7f40c6a434971c116009d85c6297f"
  },
  "id": "1yOeWKgwOmZD2qCj",
  "tags": []
}